*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;

}

.formacao > h1{

    text-transform: uppercase;
    margin-bottom: 5%;

}

.line-titulo{

	max-width: 900px;
	margin: 0 auto;
	position: relative;
	text-align: center;

}

.ln1{

	top: 21px;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: black;

}

.line-titulo h1{

	position: relative;
	background-color: white;
	display: inline-block;
	font-size: 30px;
	font-style: italic;
	text-align: center;text-transform: uppercase;
	padding: 0 30px;

}

.contato-autor{

    width: 40%;
    
    text-align: center;
    color: black;



}

.info{

    position: absolute;
    left: 5%;
    margin-top: 2%;
    width: 50%;
    top: 0;

}

.pointer{
    
    width: 20px;
    height: 20px;
    position: absolute;
    left: -5px;
    top: -4px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(49, 49, 230);
    border: 1px solid #777;

}

img{

    background-color: rgb(196, 189, 189);
    width: 50%;
    height: 50%;

}

.info-autor{

    background-color: rgb(42, 42, 241);


}